In [2]:
import pandas as pd
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
df

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

In [3]:
df[::1]

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

In [4]:
df1 = pd.DataFrame([['Kitchen Utensils',25,10,'Boston'], ['Gardening',35,15,'NYC']], columns=['Product', 'Sales in millions', 'Profit', 'Store_location'], index=[1,2])
df2 = pd.DataFrame([['Kitchen Utensils',35,7,'Somerville'], ['Switches',35,10,'Bridgewater'], ['Monitors',70,8,'Trenton']], columns=['Product', 'Sales in millions', 'Loss', 'Store_location'], index=[2,3,4])

In [7]:
print(df1)
print(df2)

            Product  Sales in millions  Profit Store_location
1  Kitchen Utensils                 25      10         Boston
2         Gardening                 35      15            NYC
            Product  Sales in millions  Loss Store_location
2  Kitchen Utensils                 35     7     Somerville
3          Switches                 35    10    Bridgewater
4          Monitors                 70     8        Trenton

In [8]:
a1, a2 = df1.align(df2, join='left', axis=0, method = 'bfill', fill_axis = 0)
print(a1)
print(a2)

            Product  Sales in millions  Profit Store_location
1  Kitchen Utensils                 25      10         Boston
2         Gardening                 35      15            NYC
            Product  Sales in millions  Loss Store_location
1  Kitchen Utensils               35.0   7.0     Somerville
2  Kitchen Utensils               35.0   7.0     Somerville

In [9]:
a1, a2 = df1.align(df2, join='left', axis=0)
print(a1)
print(a2)

            Product  Sales in millions  Profit Store_location
1  Kitchen Utensils                 25      10         Boston
2         Gardening                 35      15            NYC
            Product  Sales in millions  Loss Store_location
1               NaN                NaN   NaN            NaN
2  Kitchen Utensils               35.0   7.0     Somerville

In [10]:
a1, a2 = df1.align(df2, join='left', axis=0, method = 'ffill', fill_axis = 0)
print(a1)
print(a2)

            Product  Sales in millions  Profit Store_location
1  Kitchen Utensils                 25      10         Boston
2         Gardening                 35      15            NYC
            Product  Sales in millions  Loss Store_location
1               NaN                NaN   NaN            NaN
2  Kitchen Utensils               35.0   7.0     Somerville